.task_panel_container {
    background-color: #fff;
    box-shadow: 0px 8px 11px -8px rgba(34, 60, 80, 0.09);
    margin-bottom: 15px;
    width: 100%;
    padding: 25px 20px;
    border-radius: 5px;
}

.fields_container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.field_container {
    width: 100%;
}

.field_container label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
}

.field_container input {
    font-size: 15px;
    padding: 10px 5px;
    border-radius: 3px;
    border: 0.5px solid rgb(203, 203, 203);
}

.button_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.error_message {
    font-size: 14px;
    color: rgb(255, 78, 78);
}